nav{
    border-bottom: 2px solid grey;
    position: relative;
}
.nav-container{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 20px;
    /* margin: 0; */
    padding: 0;
}
.logo-img{
    width: 90px;
    
}

.links-con{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 30px;
}
.links-con a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 12px;
}
