.formContainer{
    
    display: flex;
    /* justify-content: end; */
    align-items: end;
    flex-direction: column;
   
    width: 82%;
}
form{
    width: 30%;
  
}

.ddd{
   
    padding: 20px;
    width: 100%;
}
.paystack-button{
    /* align-self: flex-end; */
    width: 100%;
    color: white;
    padding: 20px;
    text-transform: uppercase;
    font-weight: bolder;
    border-radius: 5px;
}