.formContainer{
    
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
   
    width: 82%;
}



.paystack-button{
    width: 30%;
    color: white;
    padding: 20px;
    text-transform: uppercase;
    font-weight: bolder;
    border-radius: 5px;
}