*{
    margin: 0;
    padding: 0;

}
.wrapperCheck{
    width: 90%;
    padding: 20px;
    margin: auto;
    text-align: center;
    display: flex;
    /* gap: 10px; */
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.static-info{
    width: 78%;
    margin-top: 10px;
    font-size: larger;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid red;
}

.theContext{
    padding: 20px;
    width: 100%;
    /* border-bottom: 2px solid black; */
}
.context-container{
    gap: 110px;
    width: 97%;
    border-bottom: 2px ridge navy;
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.imgDiv{
    width: 15%;
}
.imgDiv img{
    width: 100%;
}
.checkContext{
    width: 82%;
    display: flex;
    justify-content: space-between;
    /* gap: 10px; */
    align-items: center;
}
.incre{
   font-weight: 900;
}
.incre span {
    font-size: 100px;
}

.removeBtn{
    cursor: pointer;
}
.totalPrice{
    border: 5px groove red;
    width: 90%;
    display: flex;
    justify-content: end;
    align-items:center;
}
.testingff{
    width: 12%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}