*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.theTitle{
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}

.llll{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}